.header{
    display: flex;
    margin: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.header__left{
    flex: 0.4;
    display: flex;
}

.header__logo{
    margin-left: 30px;
}

.header__right{
    display: flex;
    flex: 0.6;
    margin-left: 20px;
}


.header__serviceType{
    width: 200px;
}

.selectType{
    background-color: lightgray;
    padding: 20px;
}

.header__serviceType > select {
    border: 1px solid #EEEEEE;
    border-radius: 30px;
    background-color: #EEEEEE;
    width: 150px;
    height: 50px;
    font-family: 'UberMoveText-Medium';
    margin-left: 20px;
    padding-left: 20px;
}

.header__serviceType > span{
    padding: 20px;
}

.header__address{
    display: flex;
    border: 1px solid #EEEEEE;
    border-radius: 30px;
    padding: 5px;
    width: 250px;
    background-color: #EEEEEE;
    padding-top: 15px;
}

.header__address > h4{
    margin-left: 20px;
    font-family : UberMoveText-Medium, sans-serif;
}

.header__search{
    background: #EEEEEE;
    display: flex;
    margin-left: 20px;
    border-bottom: 2px solid lightgray;
}

.header__search > input{
    background: #EEEEEE;
    width: 600px;
    border: none;
    margin-left: 15px;
}

.header__foodSearch{
    padding-top: 15px;
    margin-left: 20px;
}

.header__search > input:hover{
    border: none;
}